* {
    border: 1px solid red !important;
}

html,
body {
    margin: 0;
}

body {
    pointer-events: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: auto;
}

.title {
    font-size: 3.5em;
    text-align: left;
    pointer-events: none;
    background: black;
    color: white;
    width: 5.5em;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    padding: 0.5em;
}

.container {
    display: flex;
    height: 100vh;
}

.canvas-wrapper {
    flex: 8;
}


.knobs {
    flex: 2;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
}

.sliders {
    flex: 9;
    display: flex;
}

.max-size-wrapper,
.min-size-wrapper {
    flex: 1;
    
}

.max-size-wrapper input,
.min-size-wrapper input {
    /* transform: rotate(-90deg); */
    -webkit-appearance: slider-vertical;
    height: 100%;
}

.btn {
    flex: 1;
}